# ignore ALL .log, cache files
*.log
__pycache__/

# ignore ALL files in ANY directory named temp
temp/

#ignore virtual enviroments 
.env/

#ignore ALL files notebooks
*.ipynb

#ignore db folder
chroma_db/